---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <section class="mb-16 py-15">
        <div class="flex items-end gap-4 mb-2">
            <p class="text-tertiary font-headline font-bold tracking-widest uppercase text-sm text-yellow-400">Archivo Historico</p>
        </div>
        <div class="text-7xl font-headline font-black uppercase tracking-tighter leading-none italic">
            <p>ESTADISTICAS E HISTORIAL</p>
        </div>
    </section>
    <section class=" flex gap-60 mb-20 bg-surface-container-low justify-center">
            <div class="p-12 border-r-0 lg:border-r border-outline-variant/10">
                    <p>FC BARCELONA        100</p>
                    <p class="text-red-300">VICTORIAS TOTALES</p>
            </div>
            <div class="p-12 border-r-0 lg:border-r border-outline-variant/10">
                    <p class="text-yellow-500 text-5xl font-bold">254</p>
                    <p>PARTIDOS OFICIALES</p>
                    <p>52</p>
                    <p>EMPATES</p>
            </div>           
             <div class="p-12 border-r-0 lg:border-r border-outline-variant/10">
                    <p>REAL MADRID        102</p>
                    <p class="text-red-300">VICTORIAS TOTALES</p>
            </div>
    </section>

    <section class="bg-black text-white py-10 px-5 font-sans">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row gap-10">
        
        <div class="flex flex-col gap-4 md:w-1/3">
            <h2 class="font-bold text-sm tracking-widest border-l-2 border-yellow-600 pl-3 mb-4">
                MÁXIMOS GOLEADORES DE TODOS LOS TIEMPOS
            </h2>
            
            <div class="bg-[#1a1a1a] flex items-center p-4 gap-4 border border-gray-800">
                <img src="/messi-fc.png" alt="Messi" class="w-16 h-20 object-cover grayscale">
                <div>
                    <p class="uppercase text-yellow-500 text-[10px] font-bold tracking-tighter">Barcelona</p>
                    <p class="font-bold text-lg leading-tight">LIONEL MESSI</p>
                    <p class="text-red-600 font-bold text-xl">26</p>
                </div>
            </div>

            <div class="bg-[#1a1a1a] flex items-center p-4 gap-4 border border-gray-800">
                <img src="/Cristiano-Ronaldo-RM.png" alt="Cristiano" class="w-16 h-20 object-cover grayscale">
                <div>
                    <p class="uppercase text-gray-400 text-[10px] font-bold tracking-tighter">Real Madrid</p>
                    <p class="font-bold text-lg leading-tight">CRISTIANO RONALDO</p>
                    <p class="text-red-600 font-bold text-xl">18</p>
                </div>
            </div>

            <div class="bg-[#1a1a1a] flex items-center p-4 gap-4 border border-gray-800">
                <img src="/Alfredo-Di-Stefano-RM.png" alt="Di Stefano" class="w-16 h-20 object-cover grayscale">
                <div>
                    <p class="uppercase text-gray-400 text-[10px] font-bold tracking-tighter">Real Madrid</p>
                    <p class="font-bold text-lg leading-tight">ALFREDO DI STEFANO</p>
                    <p class="text-red-600 font-bold text-xl">18</p>
                </div>
            </div>
        </div>

        <div class="flex-1">
            <h2 class="font-bold text-sm tracking-widest text-right mb-8">
                RECORDS DE TODOS LOS TIEMPOS
            </h2>
            
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="bg-[#1a1a1a] p-8 border border-gray-800 flex flex-col justify-between min-h-[160px]">
                    <p class="text-[10px] text-gray-400 font-bold uppercase tracking-widest">La Mayor Victoria</p>
                    <div>
                        <p class="text-4xl font-black italic text-yellow-500">11 - 1</p>
                        <p class="text-[10px] font-bold text-gray-300">REAL MADRID (1943)</p>
                    </div>
                </div>

                <div class="bg-[#1a1a1a] p-8 border border-gray-800 flex flex-col justify-between min-h-[160px]">
                    <p class="text-[10px] text-gray-400 font-bold uppercase tracking-widest">La mayoría de las apariciones</p>
                    <div>
                        <p class="text-3xl font-black italic uppercase">45 Partidos</p>
                        <p class="text-[10px] font-bold text-gray-300 uppercase">Messi y Sergio Ramos</p>
                    </div>
                </div>

                <div class="bg-[#1a1a1a] p-8 border border-gray-800 flex flex-col justify-between min-h-[160px]">
                    <p class="text-[10px] text-gray-400 font-bold uppercase tracking-widest">Gol más rápido</p>
                    <div>
                        <p class="text-3xl font-black italic uppercase">21 Segundos</p>
                        <p class="text-[10px] font-bold text-gray-300 uppercase">Karim Benzema (2011)</p>
                    </div>
                </div>

                <div class="bg-[#1a1a1a] p-8 border border-gray-800 flex flex-col justify-between min-h-[160px]">
                    <p class="text-[10px] text-gray-400 font-bold uppercase tracking-widest">La mayoría de las asistencias</p>
                    <div>
                        <p class="text-4xl font-black italic text-yellow-500">14</p>
                        <p class="text-[10px] font-bold text-gray-300 uppercase">Lionel Messi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
    <section class="py-40 px-55 items-end">
        <p class="font-headline font-bold text-2xl uppercase tracking-tighter mb-8 flex items-center gap-2 text-yellow-500">HISTORIA: RESULTADOS RECIENTES</p>
        
        <div class="space-y-4">
            <div class="flex items-center bg-sunface-container-low p-6 bg-[#1a1a1a] border border-gray-800 hover:translate-x-2 transition-transform cursor-pointer">
                <div class="text-center text-xs font-bold uppercase opacity-40"> 
                    <p>24 DE ABRIL</p>
                 </div>
                <div class="flex-1 items-center">
                    <div> 
                        <p class="font-bold uppercase text-right">REAL MADRID</p>
                     </div>
                    <div>
                         <p class="text-center font-black text-2xl bg-surface-container-highest py-2 px-4 mx-8 italic">3-2</p>
                     </div>
                    <div>
                         <p class="font-bold uppercase text-left">FC BARCELONA</p>
                     </div>
                </div>
            </div>
            <div class="flex items-center bg-sunface-container-low p-6 bg-[#1a1a1a] border border-gray-800 hover:translate-x-2 transition-transform cursor-pointer">
                <div class="text-center text-xs font-bold uppercase opacity-40">
                     <p>24 DE ENERO</p>
                 </div>
                <div class="flex-1 items-center">
                    <div> 
                        <p class="font-bold uppercase text-right">REAL MADRID</p>
                     </div>
                    <div>
                         <p class="text-center font-black text-2xl bg-surface-container-highest py-2 px-4 mx-8 italic">4-1</p>
                    </div>
                    <div>
                        <p class="font-bold uppercase text-left">FC BARCELONA</p>
                    </div>
                </div>
            </div>
            <div class="flex items-center bg-sunface-container-low p-6 bg-[#1a1a1a] border border-gray-800 hover:translate-x-2 transition-transform cursor-pointer">
                <div class="text-center text-xs font-bold uppercase opacity-40">
                     <p>23 DE OCTUBRE</p> 
                </div>
                <div class="flex-1 items-center">
                    <div> 
                        <p class="font-bold uppercase text-right">REAL MADRID</p>
                     </div>
                    <div> 
                        <p class="text-center font-black text-2xl bg-surface-container-highest py-2 px-4 mx-8 italic">1-2</p> 
                    </div>
                    <div>
                        <p class="font-bold uppercase text-left">FC BARCELONA</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>