---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <section>
        <div>
            <div>
                <p>Archivo Historico</p>
                <p>ESTADISTICAS E HISTORIAL</p>
            </div>
            <div>
                <div>
                    <p>FC BARCELONA        100</p>
                    <p>VICTORIAS TOTALES</p>
                </div>
                <div>
                    <p>254</p>
                    <p>PARTIDOS OFICIALES</p>
                    <p>52</p>
                    <p>EMPATES</p>
                </div>
                <div>
                    <p>REAL MADRID        102</p>
                    <p>VICTORIAS TOTALES</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div>
            <div>
                <p>MAXIMOS GOLEADORES DE TODOS LOS TIEMPOS</p>
                <div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div>
                        <p>MESSI</p>
                        <p>GOLES: 26</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div>
                        <p>CRISTIANO RONALDO</p>
                        <p>GOLES: 18</p>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div>
                        <p>ALFREDO DI STEFANO</p>
                        <p>GOLES: 18</p>
                    </div>
                </div>
            </div>

            <div>
                <p>RECORDS DE TODOS LOS TIEMPOS</p>
                <div>
                    <div>
                        <p>LA MAYOR VICTORIA</p>
                        <div>
                            <p>11-1</p>
                            <p>REAL MADRID (1943)</p>
                        </div>
                    </div>
                    <div>
                        <p>LA MAYORI DE LAS APARICIONES</p>
                        <div>
                            <p>45 PARTIDOS</p>
                            <p>MESSI Y SERGIO RAMOS</p>
                        </div>
                    </div>
                    <div>
                        <p>GOL MAS RAPIDO</p>
                        <div>
                            <p>21 SEGUNDOS</p>
                            <p>KARIM BENZEMA (2011)</p>
                        </div>
                    <div>
                        <p>LA MAYORIA DE LAS ASISTENCIAS</p>
                        <div>
                            <p>14 ASISTENCIAS</p>
                            <p>MESSI</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <p>HISTORIA: RESULTADOS RECIENTES</p>
        
        <div>
            <div>
                <div> <p>24 DE ABRIL</p> </div>
                <div>
                    <div> <p>REAL MADRID</p> </div>
                    <div> <p>3-2</p> </div>
                    <div>FC BARCELONA</div>
                </div>
            </div>
            <div>
                <div> <p>24 DE ENERO</p> </div>
                <div>
                    <div> <p>REAL MADRID</p> </div>
                    <div> <p>4-1</p> </div>
                    <div><p>FC BARCELONA</p></div>
                </div>
            </div>
            <div>
                <div> <p>23 DE OCTUBRE</p> </div>
                <div>
                    <div> <p>REAL MADRID</p> </div>
                    <div> <p>1-2</p> </div>
                    <div><p>FC BARCELONA</p></div>
                </div>
            </div>
        </div>
    </section>
    <p>MAÑANA LO BORRO</p>
</Layout>