---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from 'astro-icon/components'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section>
		<div>
			<p>Proximo encuentro</p>
			<p>RIVALIDAD RENACIDA</p>

			<div>
				<div>
					<div>
						<div><Icon name="barcelona" size={50} /></div>
						<p>VS</p>
						<div>icon</div>
					</div>

					<div>
						<p></p>
						<div>
							<div>
								<p>04</p>
								<p>D</p>
							</div>
							<div>
								<p>12</p>
								<p>H</p>
							</div>
							<div>
								<p>45</p>
								<p>M</p>
							</div>
						</div>
					</div>
				</div>

				<div>
					<button>Vista Previa</button>
					<button>Asientos Asegurados</button>
				</div>
			</div>
		</div>

		<div>
			<p>El Clásico del Siglo de Oro</p>
			<p>El enfrentamiento más esperado del año</p>
			<button>Comprar Boletos</button>
		</div>
	</section>

	<section>
		<div>
			<p>PORTADA</p>
			<button>Ver todas las noticias</button>
		</div>
		<div>
			<div>
				<p>Analisis tactico</p>
				<p>EL PARTIDO DE AJEDREZ DEL MEDIO CAMPO: XAVI VS ANCELOTTI.</p>
				<p>
					Analizando el dominio geometrico del 4-3-3 contra la
					transicion de alta presion del rombo 4-4-2 antes del choque
					en el Bernabeu
				</p>

				<div>
					<div>
						<p>Actualizacion de jugadore</p>
						<p>BELLINGHAM DECLARADO APTO PARA REGRESAR AL CLASICO</p>
					</div>
					<div>
						<p>Leyendas</p>
						<p>EL ICONICO 5-0: DIEZ AÑOS DESPUES</p>
						<p>Recorriendo los pasos de la noche en que el Camp Nou presencio la perfeccion futbolista</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div>
			<div>
				<p>DOMINIO DE LA LIGA</p>
				<p>Los dos gigantes vuelven a distanciarse del resto. Una lucha a dos bandas que define la elite del futbol español.</p>
				
				<div>
					<div>
						<p>Barcelona</p>
					</div>

					<div>
						<p>78 PUNTOS</p>
					</div>
					<div>
						<p>Real madrid</p>
					</div>
					
					<div>
						<p>76 PUNTOS</p>
					</div>
				</div>
			</div>
			
			<div>
				<img src="/tabla.png" alt="">
			</div>
		</div>
	</section>

	<section>
		<div>
			<div>
				<div>
					<p>Goles marcados</p>
					<div>
						<p>72/68</p>
					</div>
				</div>
				<div>
					<p>Sabanas limpias</p>
					<div>
						<p>14/16</p>
					</div>
				</div>
				<div>
					<p>Oportunidades Creadas</p>
					<div>
						<p>342/318</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>
