---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section>
		<div>
			<p>Proximo encuentro</p>
			<p>RIVALIDAD RENACIDA</p>
			<button>Vista Previa</button> <button>Asientos Asegurados</button>
		</div>
		<div>
			<p>El Clásico del Siglo de Oro</p>
			<p>El enfrentamiento más esperado del año</p>
			<button>Comprar Boletos</button>
		</div>
	</section>
</Layout>
