---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <section>
        <div>
            <img src="" alt="">

        </div>
        <div>
            <div>
                <p>LEYENDA DE LA SEMANA</p>
                <p>ZINEDINE ZIDANE</p>
                <div>
                    <div>
                        <p>APARICIONES</p>
                        <p>227</p>
                    </div>
                    <div>
                        <p>OBJETIVOS</p>
                        <p>49</p>
                    </div>
                    <div>
                        <p>TITULOS</p>
                        <p>6</p>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
    </section>   
</Layout>