---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <div>
            <div>
                <img src="/zidane.png" alt="" />
            </div>
            <div>
                <div>
                    <p>LEYENDA DE LA SEMANA</p>
                    <p>ZINEDINE ZIDANE</p>
                    <div>
                        <div>
                            <p>APARICIONES</p>
                            <p>227</p>
                        </div>
                        <div>
                            <p>OBJETIVOS</p>
                            <p>49</p>
                        </div>
                        <div>
                            <p>TITULOS</p>
                            <p>6</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>Lo más destacado de mi carrera</p>
                    <p>
                        La volea de Glasgow: El gol más estético en la historia
                        de las finales de la Liga de Campeones.
                    </p>
                    <p>
                        Un maestro del balón cuya elegancia definió una era de
                        los Galácticos del Real Madrid. Zidane no era solo un
                        jugador; era un director de orquesta en el terreno de
                        juego.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <div>
                <button>TODAS LAS LEYENDAS</button> <button>FC BARCELONA</button> <button>REAL MADRID</button>
            </div>
            <div>
                <p>TODAS LAS EPOCAS</p>
            </div>
        </div>
    </section>

    <section>
        <div>
            <div>
                <img src="/messi.png" alt="">
                <div>
                    <p>FC BARCELONA</p>
                    <p>Lionel Messi</p>
                </div>
            </div>
            <div>
                <img src="/raul.png" alt="">
                <div>
                    <p>REAL MADRID</p>
                    <p>Raúl González</p>
                </div>
            </div>
            <div>
                <img src="/ronaldinho.png" alt="">
                <div>
                    <p>FC BARCELONA</p>
                    <p>ronaldinho</p>
                </div>
            </div>
            <div>
                <img src="/cristiano.png" alt="">
                <div>
                    <p>REAL MADRID</p>
                    <p>Cristiano Ronaldo</p>
                </div>
            </div>
            <div>
                <img src="/johan cruyff.png" alt="">
                <div>
                    <p>FC BARCELONA</p>
                    <p>Johan Cruyff</p>
                </div>
            </div>
            <div>
                <img src="/di stefano.png" alt="">
                <div>
                    <p>REAL MADRID</p>
                    <p>Alfredo Di Stéfano</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <div>
                <div>
                 <p>LA RIVALIDAD EN CIFRAS</p>
                 <p>Siglos de competencia se redujeron al desempeño de élite de sus íconos más legendarios. Comparando las épocas de dominio.</p>
                </div>
                <div>
                    <button>VER TODOS LOS ANALISIS</button>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <p>FACTOR DE DOMINANCIA</p>
                        <p>LA EPOCA DORADA DEL BARCA</p>
                    </div>
                    <div>
                        <div> <p>14</p> </div>
                        <div> <p>TROFEOS EN 4 AÑOS</p> </div>
                    </div>
                </div>
                <div>
                    <p>MAS GOLES EN EL CLASICO</p>
                    <div>
                        <div>
                            <p>MESSI</p>
                            <div>
                                <p>18 GOLES</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>   
                    <div>
                        <p>CRISTIANO RONALDO</p>
                        <div>
                            <p>18 GOLES</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <p>DI STÉFANO</p>
                        <div>
                            <p>18 GOLES</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p>ESTRELLAS</p>
                <p>57</p>
                <p>NOMINACIONES AL BALÓN DE ORO</p>
            </div>
            <div>
                <p>RACHA MÁS LARGA</p>
                <p>7 VICTORIAS</p>
                <p>REAL MADRID (1962-65)</p>
            </div>
        </div>
    </section>
</Layout>
