---
import Tarjeta from "../components/Tarjeta.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="relative overflow-hidden flex item-end px-25 py-50">
        <img src="/zidane.png" class="absolute -z-1 w-full h-full left-0 top-0 object-cover" alt="" />
        <div class="relative z-10 px-10 pb-20 w-full max-w-7xl mx-auto grid grid-cols-12 gap-8 items-end">
            <div class="flex flex-1 col-span-8 gap-50">
                <div>
                    <p class="bg-yellow-500 text-black text-xs font-bold px-3 py-1">LEYENDA DE LA SEMANA</p>
                    <p class="font-bold text-8xl italic">ZINEDINE ZIDANE</p>
                    <div class="flex gap-12 py-8">
                        <div>
                            <p class="text-xs text-yellow-500 font-bold">APARICIONES</p>
                            <p class="font-bold text-2xl">227</p>
                        </div>
                        <div>
                            <p class="text-xs text-yellow-500 font-bold">OBJETIVOS</p>
                            <p class="font-bold text-2xl">49</p>
                        </div>
                        <div>
                            <p class="text-xs text-yellow-500 font-bold">TITULOS</p>
                            <p class="font-bold text-2xl">6</p>
                        </div>
                    </div>
                </div>
                <div class="col-span-4 glass-panel p-8 border-l-4 border-tertiary">
                    <p class="text-yellow-500 font-bold uppercase">Lo más destacado de mi carrera</p>
                    <p class="font-bold">
                        La volea de Glasgow: El gol más estético en la historia
                        de las finales de la Liga de Campeones.
                    </p>
                    <p class="text-xs text-red-400">
                        Un maestro del balón cuya elegancia definió una era de
                        los Galácticos del Real Madrid. Zidane no era solo un
                        jugador; era un director de orquesta en el terreno de
                        juego.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-surface-container-low py-8 sticky top-20 z-40">
        <div class="max-w-7xl mx-auto px-10 flex flex-col md:flex-row justify-between items-center gap-8">
            <div class="flex gap-4">
                <button class="bg-tertiary text-on-tertiary px-8 py-3 font-black text-xs tracking-widest bg-gray-500">TODAS LAS LEYENDAS</button>
                <button class="bg-surface-container-highest text-white/60 hover:text-white px-8 py-3 font-black text-xs tracking-widest transition-colors bg-gray-500">FC BARCELONA</button> 
                <button class="bg-surface-container-highest text-white/60 hover:text-white px-8 py-3 font-black text-xs tracking-widest transition-colors bg-gray-500">REAL MADRID</button>
            </div>
            <div>
                <p>TODAS LAS EPOCAS</p>
            </div>
        </div>
    </section>

    <section class="py-24 px-10 max-w-7xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-px bg-outline-variant/20">
            <Tarjeta imagen="/messi.png" equipo="FC BARCELONA" nombre="Lionel Messi" />
            <Tarjeta imagen="/raul.png" equipo="REAL MADRID" nombre="Raúl González" />
            <Tarjeta imagen="/ronaldinho.png" equipo="FC BARCELONA" nombre="Ronaldo" />
            <Tarjeta imagen="/cristiano.png" equipo="REAL MADRID" nombre="Cristiano Ronaldo" />
            <Tarjeta imagen="/johan cruyff.png" equipo="FC BARCELONA" nombre="Johan Cruyff" />
            <Tarjeta imagen="/di stefano.png" equipo="REAL MADRID" nombre="Alfredo Di Stéfano" />
        </div>
    </section>
    <section class="py-24 bg-surface-container-lowest">
        <div class="max-w-7xl mx-auto px-10">
            <div class="flex items-end justify-between">
                <div>
                 <p class="font-bold text-4xl italic py-5">LA RIVALIDAD <br>EN CIFRAS</p>
                 <p class="text-xs text-red-300">Siglos de competencia se redujeron al desempeño de élite de sus íconos más legendarios. <br> Comparando las épocas de dominio.</p>
                </div>
                <div>
                    <button class="font-bold">VER TODOS LOS ANALISIS</button>
                </div>
            </div>
            <div class="grid grid-cols-4 grid-rows-2 gap-4 h-[600px]">
                <div class="col-span-2 row-span-2 bg-surface-container p-12 flex flex-col justify-between border-l-8 border-secondary-container bg-[#1a1a1a] border border-gray-800">
                    <div>
                        <p class="font-bold bg-blue-700 px-3 py-1">FACTOR DE DOMINANCIA</p>
                        <p class="font-bold italic text-4xl mt-6">LA EPOCA DORADA  <br> DEL BARCA</p>
                    </div>
                    <div class="flex items-end gap-4">
                        <div>
                            <p class="text-6xl font-bold text-sky-400">14</p> 
                        </div>
                        <div> 
                            <p class="text-xs text-gray-500">TROFEOS EN 4 AÑOS</p> 
                        </div>
                    </div>
                </div>
                <div class="col-span-2 bg-surface-container p-8 border-t-8 border-tertiary bg-[#1a1a1a] border border-gray-800">
                    <div>
                        <p class="text-yellow-500">MAS GOLES EN EL CLASICO</p>
                        <div>
                            <div>
                                <p>MESSI</p>
                                <div>
                                    <p>26 GOLES</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>   
                        <div>
                            <p>CRISTIANO RONALDO</p>
                            <div>
                                <p>18 GOLES</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>DI STÉFANO</p>
                            <div>
                                <p>18 GOLES</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-1 bg-primary-container p-8 flex flex-col justify-center items-center text-center bg-[#1a1a1a] border border-gray-800">
                    <p>ESTRELLAS</p>
                    <p>57</p>
                    <p>NOMINACIONES AL BALÓN DE ORO</p>
                </div>
                <div class="col-span-1 bg-surface-container p-8 flex flex-col justify-center bg-[#1a1a1a] border border-gray-800">
                    <p>RACHA MÁS LARGA</p>
                    <p>7 VICTORIAS</p>
                    <p>REAL MADRID (1962-65)</p>
                </div>
            </div>
        </div>
    </section>
</Layout>
