---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="relative overflow-hidden flex px-32 py-30">
        <div class="flex flex-1 px-15 py-15 gap-15 justify-center">
            <img src="/campo.png" class="absolute -z-1 w-full h-full left-0 top-0 grayscale opacity-10 object-cover" alt="">
            <div class="py-20">
                <p class="bg-red-500 font-bold uppercase inline-flex py-2 px-3">Análisis de última hora</p>
                <p class="text-7xl font-bold py-5">
                    LA FRICCIÓN TÁCTICA DEL SIGLO
                </p>
                <p class="text-xl text-red-400">
                    La intensa presión del mediocampo de Xavi contra la
                    verticalidad letal del Madrid de Ancelotti. Cómo el espacio
                    se convierte en el arma definitiva en el 256º encuentro.
                </p>
            </div>
            <div class="borde border-gray-900 bg-[#1a1a1a] py-50 px-30">
                <div>
                    <p class="text-5xl font-bold text-yellow-500 opacity-30 italic py-5">256</p>
                </div>
                <p class="font-bold">INFORMACION DEL DÍA DEL PARTIDO</p>
                <div>
                    <p class="text-xs text-yellow-500">PROBABILIDADES DE GANAR</p>
                    <img src="/probabilidad.png" alt="" />
                    <div class="flex gap-12 py-5">
                        <p>FC 45%</p>
                        <p>RMA 52%</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <div>
                <p>Últimas actualizaciones</p>
            </div>
            <div>
                <div>
                    <p>TRASPASOS</p>
                    <p>
                        La búsqueda del próximo "niño prodigio" se intensifica.
                    </p>
                    <div>
                        <img src="/noticias1.png" alt="" />
                    </div>
                    <p>
                        Ojeadores de ambos equipos fueron vistos anoche en
                        Lisboa siguiendo de cerca a la joven promesa de 19 años,
                        apodada el próximo general del mediocampo.
                    </p>
                </div>
                <div>
                    <p>HISTORIA</p>
                    <p>Revisitando la guerra de la Liga de Campeones de 2011</p>
                    <div>
                        <img src="/noticias2.png" alt="" />
                    </div>
                    <p>
                        Han pasado doce años desde la maratón de cuatro partidos
                        más tóxica y tácticamente brillante en la historia de la
                        rivalidad.
                    </p>
                </div>
                <div>
                    <p>INFORME PREVIO AL PARTIDO</p>
                    <p>Baja importante para la defensa del Madrid.</p>
                    <div>
                        <img src="/noticias3.png" alt="" />
                    </div>
                    <p>
                        Una lesión muscular de última hora obliga a los
                        visitantes a reorganizar su equipo mientras se preparan
                        para el rugido del
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <div>
                <p>ARCHIVO CINÉTICO</p>
            </div>
            <div>
                <div>
                    <img src="/archivo cinetico1.png" alt="">
                    <div>
                        <p>LA ANATOMÍA DE UN GOL CLÁSICO: 2000-2024</p>
                        <p>LARGOMETRAJE • 42 MINUTOS</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <img src="/archivo cinetico2.png" alt="">
                        </div>
                        <div>
                            <p>El gol número 500 de Messi en el Bernabéu.</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="/archivo cinetico3.png" alt="">
                        </div>
                        <div>
                            <p>El regreso del rey (2017)</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="/archivo cinetico4.png" alt="">
                        </div>
                        <div>
                            <p>Análisis de la clase magistral de Zidane</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
