---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <div>
            <div>
                <p>Análisis de última hora</p>
                <p>
                    LA FRICCIÓN TÁCTICA DEL SIGLOLA FRICCIÓN TÁCTICA DEL SIGLO
                </p>
                <p>
                    La intensa presión del mediocampo de Xavi contra la
                    verticalidad letal del Madrid de Ancelotti. Cómo el espacio
                    se convierte en el arma definitiva en el 256º encuentro.
                </p>
            </div>
            <div>
                <div>
                    <p>256</p>
                </div>
                <p>INFORMACION DEL DÍA DEL PARTIDO</p>
                <div>
                    <p>PROBABILIDADES DE GANAR</p>
                    <p>BARCELONA 45% - REAL MADRID 55%</p>
                    <img src="/probabilidad.png" alt="" />
                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <div>
                <p>Últimas actualizaciones</p>
            </div>
            <div>
                <div>
                    <p>TRASPASOS</p>
                    <p>
                        La búsqueda del próximo "niño prodigio" se intensifica.
                    </p>
                    <div>
                        <img src="/noticias1.png" alt="" />
                    </div>
                    <p>
                        Ojeadores de ambos equipos fueron vistos anoche en
                        Lisboa siguiendo de cerca a la joven promesa de 19 años,
                        apodada el próximo general del mediocampo.
                    </p>
                </div>
                <div>
                    <p>HISTORIA</p>
                    <p>Revisitando la guerra de la Liga de Campeones de 2011</p>
                    <div>
                        <img src="/noticias2.png" alt="" />
                    </div>
                    <p>
                        Han pasado doce años desde la maratón de cuatro partidos
                        más tóxica y tácticamente brillante en la historia de la
                        rivalidad.
                    </p>
                </div>
                <div>
                    <p>INFORME PREVIO AL PARTIDO</p>
                    <p>Baja importante para la defensa del Madrid.</p>
                    <div>
                        <img src="/noticias3.png" alt="" />
                    </div>
                    <p>
                        Una lesión muscular de última hora obliga a los
                        visitantes a reorganizar su equipo mientras se preparan
                        para el rugido del
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <div>
                <p>ARCHIVO CINÉTICO</p>
            </div>
            <div>
                <div>
                    <img src="/archivo cinetico1.png" alt="">
                    <div>
                        <p>LA ANATOMÍA DE UN GOL CLÁSICO: 2000-2024</p>
                        <p>LARGOMETRAJE • 42 MINUTOS</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <img src="/archivo cinetico2.png" alt="">
                        </div>
                        <div>
                            <p>El gol número 500 de Messi en el Bernabéu.</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="/archivo cinetico3.png" alt="">
                        </div>
                        <div>
                            <p>El regreso del rey (2017)</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="/archivo cinetico4.png" alt="">
                        </div>
                        <div>
                            <p>Análisis de la clase magistral de Zidane</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
