---
import { Icon } from "astro-icon/components";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>El Clasico: Siglo de Oro</title>
	</head>
	<body class="bg-black text-white">
		<header class="flex justify-between  justify-stitems-center py-4 px-10 bg-[#131313]">
			<p class="text-yellow-600 text-3xl font-bold italic">El CLÁSICO</p>

			<div class="flex gap-4 italic font-bold text-2x5 uppercase">
				<a href="/">Inicio</a>
				<a href="/estadisticas-e-historial">Historial</a>
				<a href="/jugadores-legendarios">Jugadores</a>
				<a href="/ultimas-noticias">Ultimas noticias</a>
			</div>

			<div class="flex gap-4 items-center">
				<button class="font-bold bg-red-600 text-white px-4 py-3">BOLETOS</button>
				<Icon name="icon1" size={20} class="text-white"/>
			
			</div>

		</header>

		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
