---
import { Icon } from "astro-icon/components";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>El Clasico: Siglo de Oro</title>
	</head>
	<body class="bg-black text-white">
		<header class="flex justify-between  justify-stitems-center py-4 px-10 bg-[#131313]">
			<p class="text-yellow-600 text-3xl font-bold italic">El CLÁSICO</p>

			<div class="flex gap-4 italic font-bold text-2x5 uppercase">
				<a href="/">Inicio</a>
				<a href="/estadisticas-e-historial">Historial</a>
				<a href="/jugadores-legendarios">Jugadores</a>
				<a href="/ultimas-noticias">Ultimas noticias</a>
			</div>

			<div class="flex gap-4 items-center">
				<button class="font-bold bg-red-600 text-white px-4 py-3">BOLETOS</button>
				<Icon name="icon1" size={20} class="text-white"/>
			
			</div>

		</header>

		<slot />
		<footer class="bg-[#0e0e0e] w-full py-16 border-t-0 tonal shift from surface-container-low to surface-container-lowest">
			<div class="grid grid-cols-4 gap-8 px-20 max-w-7xl mx-auto">
				<div>
					<div class="text-xl font-bold text-[#e9c349] mb-6 font-headline">El Clasico</div>
					<p class="text-white/40 text-xs font-label leading-relaxed uppercase tracking-widest">La experiencia digital definitiva para la mayor rivalidad deportiva del planeta.</p>
				</div>
				<div class="col-span-2 lg:col-span-1 flex flex-col gap-4">
					<p class="text-[#A81E2C] font-bold text-xs tracking-[0.2em] mb-2 uppercase">recursos</p>
				</div>
				<div>
					<div></div>
					<p class="text-[#A81E2C] font-bold text-xs tracking-[0.2em] mb-2 uppercase">archivo</p>
				</div>
				<div class="col-span-4 lg:col-span-1">
					<div class="bg-surface-container p-6 border-l-2 border-tertiary">
						<p class="text-xs font-bold tracking-widest text-tertiary block mb-4 uppercase">MANTÉNGASE CONECTADO</p>
					</div>
				</div>
				<div></div>
			</div>
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
